<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/">Login</a>

    <form action="/submitinsert" method="post" enctype="multipart/form-data">
        Name:
        <input type="name" name="name" id=""><br><br><br><br> Email:
        <input type="email" name="email" id=""><br><br><br><br> Password:
        <input type="password" name="password" id=""><br><br><br><br> Image: <input type="file" name="image" id=""><br><br><br><br>
        <input type="submit" value="Register">

    </form>
</body>

</html>